.about-content {
  padding: 361px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-content p {
  padding-top: 10px;
}

.about-img img {
  max-width: 100%;
  opacity: 100%;
}

.about-img {
  padding-right: 200px;
}
