.header {
  position: center;
  margin-top: 50px;
  padding-bottom: 100px;
}

.header-bar {
  height: 1px;
  background: #a3a2a4;
}

.header a {
  font-family: Montserrat;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 28px 0;
}

.header-sections {
  width: 296px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-about {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.header-title a {
  font-family: Notable;
  font-size: 20px;
  letter-spacing: 2.4px;
}
