.menu {
  display: flex;
  flex-direction: column;
  padding-top: 405px;
  padding-bottom: 405px;
}

.menu .content {
  display: flex;
  width: 296px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 17px;
  margin: 66px;
}
