.menu {
  display: flex;
  flex-direction: column;
  background-image: url("/dist/img/Silhouette_breathing.b5a8b278.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 850px;
  margin-top: 400px;
  margin-bottom: 400px;
  transition-property: color;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}

.menu p:hover {
  color: #e1d8c6;
}

.menu h3:hover {
  color: #f7e9cc;
}
