* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: #0d0d0d;
  font-family: Montserrat;
  color: #f6f1ea;
}

h2 {
  font-family: "DM Serif Display";
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
}
p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}
